@import "bootstrap-sass/lib/bootstrap";
@import "compass/utilities";
@mixin amount {
    font-weight: bold;
    font-size: 18px;
}

$blue: #3bbfce;
$green: #479917;
$red: #CF2917;
$purple: #B01A9C;

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #ececec;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
    background: #fff;
    margin: 0 auto;
    width: 1000px;
}
.controls {
    border-right: 1px solid black;
    float: left;
    width: 359px;
    h3 {
        font-size: 30px;
        line-height: 34px;
    }
    .question {
        font-size: 18px;
    }
}
.production, .barter, .trade, .consumption {
    @include pie-clearfix;
    padding: 10px;
}
.production, .barter, .trade {
    border-bottom: 1px solid black;
}
.production h3, .production-amount {
    color: $blue;
}
.production-amount {
    @include amount;
}
.production-text {
    display: block;
    float: left;
    font-size: 20px;
    width: 50%;
}
.production-lbs {
    position: relative;
    top: 2px;
    left: 5px;
}

.barter h3, .barter-amount {
    color: $green;
}
.barter-amount {
    @include amount;
}
.barter-wood, .barter-for, .barter-fish {
    float: left;
    text-align: center;
}
.barter-for {
    margin-right: 10px;
    font-size: 16px;
}
.barter-wood, .barter-fish {
    width: 100px;
    position: relative;
}
.barter-wood-lbs, .barter-fish-lbs {
    color: $green;
    display: block;
}
.barter-fish input {
    color: $green;
}
.barter-wood-text {    
    position: relative;
    top: 5px;
}
.barter-fish-lbs {
    width: 70px;
    position: relative;
    top: -5px;
}
.barter-fish-text {
    position: relative;
    top: -15px;
}
.trade  h3, .trade-amount {
    color: $purple;
}
.trade-amount {
    @include amount;
}
.consumption h3, .consumption-amount{
    color: $red;
}
.consumption-amount {
    @include amount;
}
.slider-container {
    @include pie-clearfix;
    margin-bottom: 30px;
}
.slider-label {
    display: block;
    float: left;
    margin-right: 5px;
    width: 80px;
}
.param-slider {
    display: block;
    float: left;
    margin: 10px;
    width: 180px;
    position: relative;
    .minimum, .maximum {
        bottom: -25px;
        position: absolute;
        font-size: 12px;
        font-weight: bold;
    }
    .minimum {
        left: 0;
    }
    .maximum {
        right: 0;
    }
}
.slider-amount {
    display: block;
    float: left;
    margin-top: 5px;
    width: 40px;
}
.display {
    float: left;
    width: 640px;
}
.graphs {
    @include pie-clearfix;
    width: 605px;
    padding: 15px 17px 50px;
    border-bottom: 1px solid black;
}
.graph-label {
    display: block;
    text-align: center;
    font-weight: bold;
}
.graph-container {
    float: left;
    height: 300px;
    position: relative;
    width: 290px;
}
.graph-you {
    margin-right: 20px;
}
.yaxis-label {
    display: block;
    position: absolute;
    left: -30px;
    top: 50%;
}
.xaxis-label {
    display: block;
    width: 100%;
    text-align: center;
    height: 30px;
    background: #fff;
    position: relative;
    top: -30px;
}
.rotate-90 {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.dialouge {
    width: 560px;
    height: 273px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 40px;
    font-size: 14px;
    p {
        padding-left: 10px;
    }
}
.speaker-label {
    font-weight: bold;
    margin-top: 20px;
}