@import "bootstrap-sass/lib/bootstrap";
@import "compass/utilities";

$blue: #3bbfce;
$green: #479917;
$red: #CF2917;
$purple: #B01A9C;

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #ececec;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
    background: #fff;
    margin: 0 auto;
    width: 1000px;
}
.controls {
    border-right: 1px solid black;
    float: left;
    width: 359px;
    h3 {
        font-size: 30px;
        line-height: 34px;
    }
    .amount {
        font-weight: bold;
        font-size: 26px;
    }
    .question {
        font-size: 18px;
    }
}
.production, .barter, .trade, .consumption {
    @include pie-clearfix;
    padding: 10px;
}
.production, .barter, .trade {
    border-bottom: 1px solid black;
}
.production h3, .production .amount {
    color: $blue;
}
.production-text {
    display: block;
    float: left;
    font-size: 20px;
    width: 50%;
}
.production-lbs {
    position: relative;
    top: 2px;
    left: 5px;
}

.barter h3, .barter .amount {
    color: $green;
}
.barter-wood, .barter-for, .barter-fish {
    float: left;
    text-align: center;
}
.barter-wood, .barter-fish {
    width: 100px;
}
.barter-wood-lbs, .barter-fish-lbs {
    color: $green;
    display: block;
}

.trade  h3, .trade .amount {
    color: $purple;
}

.consumption h3, .consumption .amount{
    color: $red;
}

.slider-container {
    @include pie-clearfix;
    margin-bottom: 30px;
}
.slider-label {
    display: block;
    float: left;
    margin-right: 5px;
    width: 80px;
}
.param-slider {
    display: block;
    float: left;
    margin: 10px;
    width: 180px;
    position: relative;
    .minimum, .maximum {
        bottom: -25px;
        position: absolute;
        font-size: 12px;
        font-weight: bold;
    }
    .minimum {
        left: 0;
    }
    .maximum {
        right: 0;
    }
}
.slider-amount {
    display: block;
    float: left;
    margin-top: 5px;
    width: 40px;
}
.display {
    float: left;
    width: 640px;
}
.graphs {
    @include pie-clearfix;
    width: 620px;
    padding: 10px;
    border-bottom: 1px solid black;
}
.graph-container {
    border: 1px solid black;
    float: left;
    height: 300px;
    width: 290px;
}
.graph-you {
    margin-right: 20px;
}
