<div class="controls">
	<div class="production">
		<h3>Production</h3>
		
		<span class="production-text">Wood(lbs):<span class="production-lbs amount" ng-model="productionWood">48</span></span>
		<span class="production-text">Fish(.lbs):<span class="production-lbs amount" ng-model="productionFish">0</span></span>
	</div>

	<div class="barter">
		<h3>Barter Price</h3>
		<p class="question">What are the rules for trading?<p>

		<div class="barter-wood">
			<span ng-model="barterPriceWood" class="barter-wood-lbs amount">1</span>
			<span class="barter-wood-text">Wood (lbs)</span>
		</div>
		<div class="barter-for">for</div>
		<div class="barter-fish">
			<!-- <input ng-model="barterPriceFish" class="barter-fish-lbs amount" id="spinner" name="value" /> -->
			<input class="barter-fish-lbs amount"  type="number" ng-pattern="/\d+/" step="1" min="0" max="125" ng-model="barterPriceFish" required >
			<span class="barter-fish-text">Fish (lbs)</span>
		</div>
	</div>
	<div class="trade">
		<h3>Trade</h3>
		<p class="question">How much do we trade?</p>
		
		<div class="slider-container">
			<span class="slider-label">Wood (lbs)<br /> to Friday</span>

			<div class="param-slider" ui-slider="{'min':0,'max':100, 'step':1}" ng-model="initialWood">
				<span class="minimum">0</span>
				<span class="maximum">288</span>
			</div>

			<span class="slider-amount amount" ng-model="tradeWood">15</span>
		</div>

		<span class="slider-label">Fish (lbs)<br /> from Friday</span>
		<span class="amount" ng-model="tradeFish">1875</span>
	</div>
	<div class="consumption">
		<h3>Consumption</h3>
		<p class="question">How many supplies do I end up with?</p>

		<div class="slider-container">
			<span class="slider-label">Wood (lbs)<br /> to Friday</span>

			<div class="param-slider" ui-slider="{'min':0,'max':100, 'step':1}" ng-model="initialWood">
				<span class="minimum">19.2</span>
				<span class="maximum">48</span>
			</div>

			<span class="slider-amount amount" ng-model="consumptionWood">33</span>
		</div>

		<div class="slider-container">
			<span class="slider-label">Fish (cals)<br /> to Friday</span>

			<div class="param-slider" ui-slider="{'min':0,'max':100, 'step':1}" ng-model="initialWood">
				<span class="minimum">0</span>
				<span class="maximum">3600</span>
			</div>

			<span class="slider-amount amount" ng-model="consumptionFish">1875</span>
		</div>

	</div>
</div>
<div class="display">
	<div class="graphs">
		<div class="graph-container graph-you">
			<span class="graph-label">You</span>
			<span class="yaxis-label rotate-90">Fish (cals)</span>
			<linechart data="data" options="options"></linechart>
			<span class="xaxis-label">Wood (lbs)</span>
		</div>
		<div class="graph-container graph-friday">
			<span class="graph-label">Friday</span>
			<span class="yaxis-label rotate-90">Fish (cals)</span>
			<linechart data="data" options="options"></linechart>
			<span class="xaxis-label">Fish (lbs)</span>
		</div>
	</div>
	<div class="dialouge"></div>

</div>
