<div class="controls">
	<div class="production">
		<h3>Production</h3>
		
		<span class="production-text">Wood (lbs):<span class="production-lbs production-amount">{{studentProductionWood}}</span></span>
		<span class="production-text">Fish (cals):<span class="production-lbs production-amount">{{studentProductionFish}}</span></span>
	</div>

	<div class="barter">
		<h3>Barter Price</h3>
		<p class="question">What are the rules for trading?<p>

			<p>Barter price =  {{barterPrice}} (for testing)</p>

		<div class="barter-wood">
			<span class="barter-wood-lbs barter-amount">{{barterPriceWood}}</span>
			<span class="barter-wood-text">Wood (lbs)</span>
		</div>
		<div class="barter-for">for</div>
		<div class="barter-fish">
			<input class="barter-fish-lbs barter-amount" type="number" ng-pattern="/\d+/" step="1" min="0" max="125" ng-model="barterPriceFish" required >
			<span class="barter-fish-text">Fish (cals)</span>
		</div>
	</div>
	<div class="trade">
		<h3>Trade</h3>
		<p class="question">How much do we trade?</p>
		<div class="slider-container">
			<span class="slider-label">Wood (lbs)<br /> to Friday</span>
			<!-- TODO make slider container because cant have markup inside slider -->
			<div class="param-slider-wrapper">
				<span class="max">{{maxStudentTradeWood}}</span>
				<div ui-slider min="{{minStudentTradeWood}}" max="{{maxStudentTradeWood}}" step=".1" ng-disabled="disabled" ng-model="woodTradedToFriday"></div>
				<span class="min">{{minStudentTradeWood}}</span>
			</div>
			<span class="slider-amount trade-amount" ng-model="woodTradedToFriday">{{woodTradedToFriday}}</span>
		</div>

		<span class="slider-label">Fish (cals)<br /> from Friday</span>
		<span class="trade-amount">{{fishTradedFromFriday}}</span>
	</div>
	<div class="consumption">
		<h3>Consumption</h3>
		<p class="question">How many supplies do I end up with?</p>

		<div class="slider-container">
			<span class="slider-label">Wood (lbs)</span>


			<div class="param-slider-wrapper">
				<span class="min">{{minStudentConsumptionWood}}</span>
				<div ui-slider min="{{minStudentConsumptionWood}}" max="{{maxStudentConsumptionWood}}" step=".1" ng-disabled="disabled" ng-model="studentConsumptionWood"></div>
				<span class="max">{{maxStudentConsumptionWood}}</span>
			</div>

			<span class="slider-amount consumption-amount">{{studentConsumptionWood}}</span>
		</div>

		<div class="slider-container">
			<span class="slider-label">Fish (cals)</span>
				<div class="param-slider-wrapper">
					<span class="min">{{minStudentConsumptionFish}}</span>
					<div ui-slider min="{{minStudentConsumptionFish}}" max="{{maxStudentConsumptionFish}}" step=".1" ng-disabled="disabled" ng-model="studentConsumptionFish"></div>
					<span class="max">{{maxStudentConsumptionFish}}</span>
				</div>
			<span class="slider-amount consumption-amount">{{studentConsumptionFish}}</span>
		</div>

	</div>
</div>
<div class="display">
	<div class="graphs">
		<div class="graph-container graph-you">
			<span class="graph-label">You</span>
			<!-- <span class="yaxis-label rotate-90">Fish (cals)</span> -->
			<linechart data="studentGraphData" options="graphOptions"></linechart>
			<!-- <span class="xaxis-label">Wood (lbs)</span> -->
		</div>
		<div class="graph-container graph-friday">
			<span class="graph-label">Friday</span>
			<!-- <span class="yaxis-label rotate-90">Fish (cals)</span> -->
			<linechart data="fridayGraphData" options="graphOptions"></linechart>
			<!-- <span class="xaxis-label">Wood (lbs)</span> -->
		</div>
	</div>
	<div class="dialouge">
		<h4 class="speaker-label">Friday</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
		<p>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
		<p>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<h4 class="speaker-label">You</h4>
		<p>That doesn't seem very fair to me. What about this?</p>
		<p>I agree to give you <span class="barter-amount" ng-model="barterPriceWood">1</span>lb of wood for every <span class="barter-amount" ng-model="barterPriceFish">{{barterPriceFish}}</span> calories of fish you give me.</p>
		<p>At the end of the day.  I'll give you <span class="trade-amount" ng-model="tradeWoodToFriday">{{woodTradedToFriday}}</span>lbs of wood, leaving me <span class="consumption-amount">{{studentConsumptionWood}}</span>lbs and you'll give me <span class="consumption-amount" >{{studentConsumptionFish}}</span> calories of fish, leaving you with <span ng-model="tradeFishLeftOverForFriday">{{fishTradedToFriday}}</span> calories.</p>
		<h4 class="speaker-label">Friday</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
		<p>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
		<p>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>

</div>
