<div class="sliderExample" ng-init="sliderExample2=0;min=0;max=20;step=5;">
		<strong>Slider - step value 5</strong>
		<div ui-slider min="{{min}}" max="{{max}}" step="{{step}}" ng-disabled="disabled" ng-model="sliderExample2"></div>
		<input type="number" ng-model="sliderExample2" /><br>
		Min: <input type="number" ng-model="min" />
		Max: <input type="number" ng-model="max" />
		Step: <input type="number" ng-model="step" />
		<label>Disabled: <input type="checkbox" ng-model="disabled" /></label>
	</div>